In [1]:
# aprendizado supervisioando - knn

In [1]:
# Import Libraries

import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics as mt

In [2]:
#Load Dataset

dataset_path = '..\\datasets\\train.csv'

df = pd.read_csv(dataset_path)

In [3]:
df.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

In [14]:
# Treinamento
k = 7
knn_classifier = KNeighborsClassifier(n_neighbors = k)

#treinmento do algoritimo
knn_classifier.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [15]:
y_pred = knn_classifier.predict(x_train)

In [16]:
# Seleção de Features

features = ['idade', 'saldo_atual', 'divida_atual', 'renda_anual','valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos','num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc','num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']

label = 'limite_adicional'


x_train = df.loc[:, features]
y_train = df.loc[:, label].values

In [17]:
df_result = df.copy()
df_result['Classificacao'] = y_pred

In [18]:
df_result.loc[:, ['id_cliente', 'idade', 'limite_adicional', 'Classificacao']].sample(10)

      id_cliente  idade limite_adicional Classificacao
5417        5324     19            Negar         Negar
1497        7524     54            Negar         Negar
872          674     30            Negar         Negar
3388       11934     43         Conceder         Negar
6534       10158     32            Negar         Negar
1652        5698     18            Negar         Negar
8007       10240     60         Conceder         Negar
4165        3286     39            Negar         Negar
4903        7349     60         Conceder         Negar
7942       12341     27            Negar         Negar

In [19]:
df.loc[:,'limite_adicional'].value_counts(normalize = True)

limite_adicional
Negar       0.841579
Conceder    0.158421
Name: proportion, dtype: float64

In [20]:
#matriz de confusao na mão

df_result['acertos'] = df_result.loc[:, ['id_cliente','limite_adicional', 'Classificacao']].apply(lambda x: 1 if x['limite_adicional'] == x['Classificacao']else 0 , axis=1)

In [21]:
df_result.loc[:, ['id_cliente', 'idade', 'limite_adicional', 'Classificacao', 'acertos']].sample(10)

      id_cliente  idade limite_adicional Classificacao  acertos
6332        6364     19            Negar         Negar        1
8394         239     56            Negar         Negar        1
5731         152     35            Negar         Negar        1
5703        6757     30            Negar         Negar        1
4321        2514     31            Negar         Negar        1
4751        2252     48            Negar         Negar        1
8814        9868   3587            Negar         Negar        1
6855        5232     56            Negar         Negar        1
5897        6799     23            Negar         Negar        1
5729        7550     23            Negar         Negar        1

In [22]:
df_result['acertos'].sum()

8161

In [23]:
df_result.shape

(9500, 19)

In [24]:
print('Acuracia: {:.2f} %' .format((8161/9500) * 100))

Acuracia: 85.91 %

In [25]:
#usando biblioteca para calcular matriz de confusao sklearn


mt.confusion_matrix(y_train, y_pred)

array([[ 369, 1136],
       [ 203, 7792]], dtype=int64)

In [26]:
#funcao para calcular acuracia

acuracia = (mt.accuracy_score(y_train, y_pred)*100)

In [27]:
print(f'Acuracia: {acuracia:.2f}')

Acuracia: 85.91

In [34]:
#prescisao

precisao = mt.precision_score(y_train, y_pred, pos_label = 'Conceder')
print(precisao)

0.6451048951048951

In [35]:
#recall

recall = (mt.recall_score(y_train, y_pred, pos_label = 'Conceder'))
print(recall)

0.24518272425249169